.education-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.education-form > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.education-form > div > input {
  width: 100%;
}

div.education-years {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 50%;
}

.education-years > div {
  display: flex;
  flex-direction: column;
}

.year-container {
  max-width: 50%;
}

.education-years > div > input {
  max-width: 100%;
}
